<div class="content">
  <h1>Google</h1>
  <p>
    Google LLC is an American multinational technology company that specializes in
    Internet-related services and products, which include online advertising technologies,
    a search engine, cloud computing, software, and hardware.
    It is considered one of the Big Five companies in the American information technology
    industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]
  </p>
  <p>
    Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D.
    students at Stanford University in California. Together they own about 14% of its publicly-listed
    shares and control 56% of the stockholder voting power through super-voting stock. The company went
    public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned
    subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for
    Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24,
    2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019,
    Pichai also became the CEO of Alphabet.[11]
  </p>
</div>
