header {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
}
.header-links-wrap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.header-links-wrap ul li {
  list-style: none;
  padding: 0 20px 0 0;
}
.header-links-wrap ul li a {
  color: #333;
  text-decoration: none;
}
.header-links-wrap ul li a.active {
  color: green;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
}
