<header>
  <div class="container">
    <div class="header-links-wrap">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a routerLink="/about_us" routerLinkActive="active">About Us</a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
      <a routerLink="/" class="nav-link">Home</a>
  </div>
</footer>
